In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

import glob
import os

In [53]:
def read_files(path : str):
    csv_files = glob.glob(path + "\\*.csv")

    li = list()

    for files in csv_files:
        df = pd.read_csv(files)
        split = files.split('_')
        i = 8
        station_name = ""
        while split[i] != 'Guwahati':
            station_name += split[i] + " "
            i+=1
        df['Station'] = station_name
        li.append(df)

    df = pd.concat(li, axis=0, ignore_index=True)
    return df

In [54]:
df_1d = read_files("raw_data_1day")
df_15m = read_files("raw_data_15min")

In [69]:
cols = df_1d.columns[0:10]
cols = cols.insert(0,df_1d.columns[-1])
cols

Index(['Station', 'Timestamp', 'PM2.5 (µg/m³)', 'PM10 (µg/m³)', 'NO (µg/m³)',
       'NO2 (µg/m³)', 'NOx (ppb)', 'NH3 (µg/m³)', 'SO2 (µg/m³)', 'CO (mg/m³)',
       'Ozone (µg/m³)'],
      dtype='object')

In [66]:
def selectaqifeatures(df : pd.DataFrame):
    df = df[cols]
    df = df.reset_index()
    df.drop('index', axis= 1,inplace=True)
    return df

In [67]:
print(df_1d.shape)
print(df_15m.shape)

(3651, 26)
(385536, 26)

In [68]:
df_1d.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s),Station
0,2020-01-01 00:00:00,129.15,190.23,44.72,11.26,85.47,14.84,12.32,1.78,17.89,...,16.90,76.03,0.92,138.29,0.02,1.94,193.44,929.01,NaN,Railway Colony
1,2020-01-02 00:00:00,59.62,101.89,14.05,12.40,36.34,14.32,12.21,0.67,17.90,...,18.68,70.97,1.07,133.76,0.01,0.89,242.83,896.30,NaN,Railway Colony
2,2020-01-03 00:00:00,70.38,101.91,16.60,9.75,37.67,13.72,12.23,0.70,17.86,...,16.09,87.21,0.99,147.38,0.04,3.74,103.09,929.92,NaN,Railway Colony
3,2020-01-04 00:00:00,95.40,130.76,22.57,7.66,45.27,15.40,12.02,0.92,17.99,...,16.68,84.10,0.69,151.59,0.07,6.47,203.69,917.84,NaN,Railway Colony
4,2020-01-05 00:00:00,96.59,136.95,40.86,9.45,77.20,15.54,12.24,1.27,17.92,...,15.88,85.97,0.82,211.34,0.07,6.79,147.66,930.92,NaN,Railway Colony

In [70]:
df_15m.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s),Station
0,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony
1,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony
2,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony
3,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony
4,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony

In [71]:
df_1d.isnull().sum()

Timestamp                 0
PM2.5 (µg/m³)           391
PM10 (µg/m³)            378
NO (µg/m³)              329
NO2 (µg/m³)             330
NOx (ppb)               318
NH3 (µg/m³)             491
SO2 (µg/m³)             328
CO (mg/m³)              322
Ozone (µg/m³)           349
Benzene (µg/m³)         354
Toluene (µg/m³)        3453
Xylene (µg/m³)         3651
O Xylene (µg/m³)       3651
Eth-Benzene (µg/m³)    1555
MP-Xylene (µg/m³)      1266
AT (°C)                1991
RH (%)                 1637
WS (m/s)                722
WD (deg)                721
RF (mm)                1370
TOT-RF (mm)               0
SR (W/mt2)              779
BP (mmHg)              2003
VWS (m/s)              3651
Station                   0
dtype: int64

In [72]:
df_15m.isnull().sum()

Timestamp                   0
PM2.5 (µg/m³)           73811
PM10 (µg/m³)            73859
NO (µg/m³)              59102
NO2 (µg/m³)             67732
NOx (ppb)               50559
NH3 (µg/m³)             70173
SO2 (µg/m³)             54821
CO (mg/m³)              51547
Ozone (µg/m³)           65494
Benzene (µg/m³)         56754
Toluene (µg/m³)        367268
Xylene (µg/m³)         385536
O Xylene (µg/m³)       385536
Eth-Benzene (µg/m³)    193639
MP-Xylene (µg/m³)      176295
AT (°C)                203536
RH (%)                 174924
WS (m/s)                89193
WD (deg)                89183
RF (mm)                141827
TOT-RF (mm)                 0
SR (W/mt2)             179786
BP (mmHg)              256094
VWS (m/s)              385536
Station                     0
dtype: int64

In [73]:
df_1d = selectaqifeatures(df_1d)
df_15m = selectaqifeatures(df_15m)

In [74]:
df_1d.shape

(3651, 11)

In [75]:
df_15m.shape

(385536, 11)

In [76]:
df_15m.to_csv("clean_data\\15m_data.csv")
df_1d.to_csv("clean_data\\1day_data.csv")

In [77]:
df_15m.head()

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³)
0,Railway Colony,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Railway Colony,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Railway Colony,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Railway Colony,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Railway Colony,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
# calculate 24hr avg over 15min intervals, out of which data of 16 one-hr intervals must be present
df_15m["PM2.5_24hr_avg"] = df_15m["PM2.5 (µg/m³)"].rolling(window = 24*4, min_periods = 16*4).mean().values
df_15m["PM10_24hr_avg"] = df_15m["PM10 (µg/m³)"].rolling(window = 24*4, min_periods = 16*4).mean().values
df_15m["NOx_24hr_avg"] = df_15m["NOx (ppb)"].rolling(window = 24*4, min_periods = 16*4).mean().values
df_15m["NH3_24hr_avg"] = df_15m["NH3 (µg/m³)"].rolling(window = 24*4, min_periods = 16*4).mean().values
df_15m["SO2_24hr_avg"] = df_15m["SO2 (µg/m³)"].rolling(window = 24*4, min_periods = 16*4).mean().values

df_15m["CO_8hr_max"] = df_15m["CO (mg/m³)"].rolling(window = 8*4, min_periods = 1*4).max().values
df_15m["O3_8hr_max"] = df_15m["Ozone (µg/m³)"].rolling(window = 8*4, min_periods = 1*4).max().values

df_15m

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),PM2.5_24hr_avg,PM10_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,SO2_24hr_avg,CO_8hr_max,O3_8hr_max
0,Railway Colony,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Railway Colony,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Railway Colony,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Railway Colony,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Railway Colony,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385531,LGBI Airport,2023-12-31 22:45:00,116.0,138.0,0.2,23.9,12.8,9.0,6.5,NaN,7.9,91.054945,140.175824,21.459783,15.021739,6.632609,NaN,68.1
385532,LGBI Airport,2023-12-31 23:00:00,113.0,138.0,0.4,23.0,12.6,8.8,6.6,NaN,9.0,90.901099,139.725275,21.227174,14.858696,6.676087,NaN,68.1
385533,LGBI Airport,2023-12-31 23:15:00,113.0,138.0,0.5,22.8,12.5,8.8,6.3,NaN,6.4,90.747253,139.274725,21.106522,14.775000,6.716304,NaN,68.1
385534,LGBI Airport,2023-12-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.344444,138.833333,21.127473,14.790110,6.752747,NaN,68.1
385535,LGBI Airport,2023-12-31 23:45:00,109.0,151.0,1.6,26.1,15.2,10.6,7.0,NaN,2.8,90.511111,139.033333,21.083516,14.759341,6.786813,NaN,67.8

In [80]:
print(df_1d.shape)
print(df_15m.shape) # 10+7 cols

(3651, 18)
(385536, 18)

In [81]:
df_15m_nan = df_15m
df_15m_clean = df_15m.dropna(inplace=False)
print(df_15m_nan.shape)
print(df_15m_clean.shape)

(385536, 18)
(233142, 18)

In [82]:
df_15m_nan.head()

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),PM2.5_24hr_avg,PM10_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,SO2_24hr_avg,CO_8hr_max,O3_8hr_max
0,Railway Colony,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Railway Colony,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Railway Colony,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Railway Colony,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Railway Colony,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
df_15m_clean.head()

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),PM2.5_24hr_avg,PM10_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,SO2_24hr_avg,CO_8hr_max,O3_8hr_max
4573,Railway Colony,2019-02-17 15:15:00,46.00,80.00,1.29,9.16,12.02,27.19,13.56,0.40,15.80,37.700606,67.444545,17.495000,30.119844,14.183594,0.60,25.72
4574,Railway Colony,2019-02-17 15:30:00,46.00,80.00,1.74,8.93,12.48,30.29,13.71,0.41,15.52,37.824478,67.631940,17.417846,30.122462,14.176308,0.50,25.72
4575,Railway Colony,2019-02-17 15:45:00,45.62,79.92,1.87,8.56,12.17,28.20,13.88,0.41,15.33,37.939118,67.812647,17.338333,30.093333,14.171818,0.48,25.72
4576,Railway Colony,2019-02-17 16:00:00,41.00,72.92,1.83,8.72,12.37,26.69,13.77,0.40,15.30,37.983478,67.886667,17.264179,30.042537,14.165821,0.48,18.93
4577,Railway Colony,2019-02-17 16:15:00,41.00,79.00,1.69,7.91,11.30,26.83,13.87,0.41,15.49,38.026571,68.045429,17.176471,29.995294,14.161471,0.48,16.78

In [84]:
import warnings
warnings.filterwarnings('ignore')

In [85]:
## PM2.5 Sub-Index calculation
def get_PM25_subindex(x):
    if x <= 30:
        return x * 50 / 30
    elif x <= 60:
        return 50 + (x - 30) * 50 / 30
    elif x <= 90:
        return 100 + (x - 60) * 100 / 30
    elif x <= 120:
        return 200 + (x - 90) * 100 / 30
    elif x <= 250:
        return 300 + (x - 120) * 100 / 130
    elif x > 250:
        return 400 + (x - 250) * 100 / 130
    else:
        return 0

df_15m_nan["PM2.5_SubIndex"] = df_15m_nan["PM2.5_24hr_avg"].apply(lambda x: get_PM25_subindex(x))
df_15m_clean["PM2.5_SubIndex"] = df_15m_clean["PM2.5_24hr_avg"].apply(lambda x: get_PM25_subindex(x))

In [86]:
## PM10 Sub-Index calculation
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

df_15m_nan["PM10_SubIndex"] = df_15m_nan["PM10_24hr_avg"].apply(lambda x: get_PM10_subindex(x))
df_15m_clean["PM10_SubIndex"] = df_15m_clean["PM10_24hr_avg"].apply(lambda x: get_PM10_subindex(x))

In [87]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

df_15m_nan["SO2_SubIndex"] = df_15m_nan["SO2_24hr_avg"].apply(lambda x: get_SO2_subindex(x))
df_15m_clean["SO2_SubIndex"] = df_15m_clean["SO2_24hr_avg"].apply(lambda x: get_SO2_subindex(x))

In [88]:
## NOx Sub-Index calculation
def get_NOx_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 180:
        return 100 + (x - 80) * 100 / 100
    elif x <= 280:
        return 200 + (x - 180) * 100 / 100
    elif x <= 400:
        return 300 + (x - 280) * 100 / 120
    elif x > 400:
        return 400 + (x - 400) * 100 / 120
    else:
        return 0

df_15m_nan["NOx_SubIndex"] = df_15m_nan["NOx_24hr_avg"].apply(lambda x: get_NOx_subindex(x))
df_15m_clean["NOx_SubIndex"] = df_15m_clean["NOx_24hr_avg"].apply(lambda x: get_NOx_subindex(x))

In [90]:
## NH3 Sub-Index calculation
def get_NH3_subindex(x):
    if x <= 200:
        return x * 50 / 200
    elif x <= 400:
        return 50 + (x - 200) * 50 / 200
    elif x <= 800:
        return 100 + (x - 400) * 100 / 400
    elif x <= 1200:
        return 200 + (x - 800) * 100 / 400
    elif x <= 1800:
        return 300 + (x - 1200) * 100 / 600
    elif x > 1800:
        return 400 + (x - 1800) * 100 / 600
    else:
        return 0

df_15m_nan["NH3_SubIndex"] = df_15m_nan["NH3_24hr_avg"].apply(lambda x: get_NH3_subindex(x))
df_15m_clean["NH3_SubIndex"] = df_15m_clean["NH3_24hr_avg"].apply(lambda x: get_NH3_subindex(x))

In [91]:
## CO Sub-Index calculation
def get_CO_subindex(x):
    if x <= 1:
        return x * 50 / 1
    elif x <= 2:
        return 50 + (x - 1) * 50 / 1
    elif x <= 10:
        return 100 + (x - 2) * 100 / 8
    elif x <= 17:
        return 200 + (x - 10) * 100 / 7
    elif x <= 34:
        return 300 + (x - 17) * 100 / 17
    elif x > 34:
        return 400 + (x - 34) * 100 / 17
    else:
        return 0

df_15m_nan["CO_SubIndex"] = df_15m_nan["CO_8hr_max"].apply(lambda x: get_CO_subindex(x))
df_15m_clean["CO_SubIndex"] = df_15m_clean["CO_8hr_max"].apply(lambda x: get_CO_subindex(x))

In [92]:
## O3 Sub-Index calculation
def get_O3_subindex(x):
    if x <= 50:
        return x * 50 / 50
    elif x <= 100:
        return 50 + (x - 50) * 50 / 50
    elif x <= 168:
        return 100 + (x - 100) * 100 / 68
    elif x <= 208:
        return 200 + (x - 168) * 100 / 40
    elif x <= 748:
        return 300 + (x - 208) * 100 / 539
    elif x > 748:
        return 400 + (x - 400) * 100 / 539
    else:
        return 0

df_15m_nan["O3_SubIndex"] = df_15m_nan["O3_8hr_max"].apply(lambda x: get_O3_subindex(x))
df_15m_clean["O3_SubIndex"] = df_15m_clean["O3_8hr_max"].apply(lambda x: get_O3_subindex(x))

In [93]:
df_15m_nan.head() # 17+7 cols

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),...,SO2_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex
0,Railway Colony,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Railway Colony,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Railway Colony,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Railway Colony,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Railway Colony,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
df_15m_clean.head() # 17+7 cols

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),...,SO2_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex
4573,Railway Colony,2019-02-17 15:15:00,46.00,80.00,1.29,9.16,12.02,27.19,13.56,0.40,...,14.183594,0.60,25.72,62.834343,67.444545,17.729492,21.868750,7.529961,30.0,25.72
4574,Railway Colony,2019-02-17 15:30:00,46.00,80.00,1.74,8.93,12.48,30.29,13.71,0.41,...,14.176308,0.50,25.72,63.040796,67.631940,17.720385,21.772308,7.530615,25.0,25.72
4575,Railway Colony,2019-02-17 15:45:00,45.62,79.92,1.87,8.56,12.17,28.20,13.88,0.41,...,14.171818,0.48,25.72,63.231863,67.812647,17.714773,21.672917,7.523333,24.0,25.72
4576,Railway Colony,2019-02-17 16:00:00,41.00,72.92,1.83,8.72,12.37,26.69,13.77,0.40,...,14.165821,0.48,18.93,63.305797,67.886667,17.707276,21.580224,7.510634,24.0,18.93
4577,Railway Colony,2019-02-17 16:15:00,41.00,79.00,1.69,7.91,11.30,26.83,13.87,0.41,...,14.161471,0.48,16.78,63.377619,68.045429,17.701838,21.470588,7.498824,24.0,16.78

In [95]:
# AQI bucketing function
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN
    
df_15m_nan["Checks"] = (df_15m_nan["PM2.5_SubIndex"] > 0).astype(int) + \
                (df_15m_nan["PM10_SubIndex"] > 0).astype(int) + \
                (df_15m_nan["SO2_SubIndex"] > 0).astype(int) + \
                (df_15m_nan["NOx_SubIndex"] > 0).astype(int) + \
                (df_15m_nan["NH3_SubIndex"] > 0).astype(int) + \
                (df_15m_nan["CO_SubIndex"] > 0).astype(int) + \
                (df_15m_nan["O3_SubIndex"] > 0).astype(int)

df_15m_nan["AQI_calculated"] = round(df_15m_nan[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex",
                                 "NH3_SubIndex", "CO_SubIndex", "O3_SubIndex"]].max(axis = 1))
df_15m_nan.loc[df_15m_nan["PM2.5_SubIndex"] + df_15m_nan["PM10_SubIndex"] <= 0, "AQI_calculated"] = np.NaN
df_15m_nan.loc[df_15m_nan.Checks < 3, "AQI_calculated"] = np.NaN

df_15m_nan["AQI_bucket_calculated"] = df_15m_nan["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df_15m_nan.head(15) # 24+3 cols

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),...,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
0,Railway Colony,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
1,Railway Colony,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
2,Railway Colony,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
3,Railway Colony,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
4,Railway Colony,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
5,Railway Colony,2019-01-01 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
6,Railway Colony,2019-01-01 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
7,Railway Colony,2019-01-01 01:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
8,Railway Colony,2019-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
9,Railway Colony,2019-01-01 02:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
10,Railway Colony,2019-01-01 02:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
11,Railway Colony,2019-01-01 02:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
12,Railway Colony,2019-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
13,Railway Colony,2019-01-01 03:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN
14,Railway Colony,2019-01-01 03:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN

In [98]:
df_15m_clean["Checks"] = (df_15m_clean["PM2.5_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["PM10_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["SO2_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["NOx_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["NH3_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["CO_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["O3_SubIndex"] > 0).astype(int)

df_15m_clean["AQI_calculated"] = round(df_15m_clean[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex",
                                 "NH3_SubIndex", "CO_SubIndex", "O3_SubIndex"]].max(axis = 1))
df_15m_clean.loc[df_15m_clean["PM2.5_SubIndex"] + df_15m_clean["PM10_SubIndex"] <= 0, "AQI_calculated"] = np.NaN
df_15m_clean.loc[df_15m_clean.Checks < 3, "AQI_calculated"] = np.NaN

df_15m_clean["AQI_bucket_calculated"] = df_15m_clean["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df_15m_clean.head(15) # 24+3 cols

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),...,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
4573,Railway Colony,2019-02-17 15:15:00,46.00,80.00,1.29,9.16,12.02,27.19,13.56,0.40,...,62.834343,67.444545,17.729492,21.868750,7.529961,30.0,25.72,7,67.0,Satisfactory
4574,Railway Colony,2019-02-17 15:30:00,46.00,80.00,1.74,8.93,12.48,30.29,13.71,0.41,...,63.040796,67.631940,17.720385,21.772308,7.530615,25.0,25.72,7,68.0,Satisfactory
4575,Railway Colony,2019-02-17 15:45:00,45.62,79.92,1.87,8.56,12.17,28.20,13.88,0.41,...,63.231863,67.812647,17.714773,21.672917,7.523333,24.0,25.72,7,68.0,Satisfactory
4576,Railway Colony,2019-02-17 16:00:00,41.00,72.92,1.83,8.72,12.37,26.69,13.77,0.40,...,63.305797,67.886667,17.707276,21.580224,7.510634,24.0,18.93,7,68.0,Satisfactory
4577,Railway Colony,2019-02-17 16:15:00,41.00,79.00,1.69,7.91,11.30,26.83,13.87,0.41,...,63.377619,68.045429,17.701838,21.470588,7.498824,24.0,16.78,7,68.0,Satisfactory
4578,Railway Colony,2019-02-17 16:30:00,41.00,79.00,1.72,8.58,12.08,26.17,13.71,0.42,...,63.447418,68.199718,17.693659,21.378261,7.484964,24.0,16.27,7,68.0,Satisfactory
4579,Railway Colony,2019-02-17 16:45:00,43.33,96.17,1.90,8.94,12.71,25.53,13.58,0.45,...,63.569213,68.588194,17.683393,21.299821,7.469214,23.0,16.27,7,69.0,Satisfactory
4580,Railway Colony,2019-02-17 17:00:00,69.00,261.25,2.02,11.25,15.44,25.06,13.58,0.48,...,64.273744,71.227397,17.673415,21.271655,7.452254,24.0,16.27,7,71.0,Satisfactory
4581,Railway Colony,2019-02-17 17:15:00,69.00,285.00,1.86,14.40,18.44,27.41,13.66,0.51,...,64.959234,74.116216,17.665104,21.296354,7.443924,25.5,16.27,7,74.0,Satisfactory
4582,Railway Colony,2019-02-17 17:30:00,69.00,285.00,1.84,14.47,18.54,26.02,13.48,0.52,...,65.626444,76.928000,17.653938,21.322089,7.431062,26.0,16.27,7,77.0,Satisfactory
4583,Railway Colony,2019-02-17 17:45:00,72.92,306.17,1.86,14.36,18.57,24.73,13.47,0.54,...,66.362061,79.944342,17.642905,21.347635,7.414189,27.0,16.27,7,80.0,Satisfactory
4584,Railway Colony,2019-02-17 18:00:00,116.00,494.08,2.56,14.50,19.89,25.69,13.59,0.57,...,68.011039,85.322727,17.634167,21.394500,7.400967,28.5,16.27,7,85.0,Satisfactory
4585,Railway Colony,2019-02-17 18:15:00,116.00,539.00,1.70,14.58,18.54,26.95,13.51,0.57,...,69.617735,91.139103,17.624342,21.417928,7.392237,28.5,16.27,7,91.0,Satisfactory
4586,Railway Colony,2019-02-17 18:30:00,116.00,539.00,2.19,13.69,18.20,27.07,13.52,0.59,...,71.183755,96.808228,17.614935,21.435227,7.384123,29.5,16.27,7,97.0,Satisfactory
4587,Railway Colony,2019-02-17 18:45:00,115.00,514.00,2.14,12.39,16.72,27.62,13.62,0.59,...,72.689792,101.348750,17.607372,21.428365,7.377981,29.5,16.27,7,101.0,Moderate

In [96]:
df_15m_nan[~df_15m_nan.AQI_calculated.isna()].AQI_bucket_calculated.value_counts()

Satisfactory    94439
Moderate        93126
Good            61329
Poor            39010
Very Poor       38740
Severe           1280
Name: AQI_bucket_calculated, dtype: int64

In [99]:
df_15m_clean[~df_15m_clean.AQI_calculated.isna()].AQI_bucket_calculated.value_counts()

Satisfactory    70468
Moderate        58189
Good            45463
Very Poor       31552
Poor            26551
Severe            919
Name: AQI_bucket_calculated, dtype: int64

In [100]:
df_15m_clean

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),...,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
4573,Railway Colony,2019-02-17 15:15:00,46.00,80.00,1.29,9.16,12.02,27.19,13.56,0.40,...,62.834343,67.444545,17.729492,21.868750,7.529961,30.0,25.72,7,67.0,Satisfactory
4574,Railway Colony,2019-02-17 15:30:00,46.00,80.00,1.74,8.93,12.48,30.29,13.71,0.41,...,63.040796,67.631940,17.720385,21.772308,7.530615,25.0,25.72,7,68.0,Satisfactory
4575,Railway Colony,2019-02-17 15:45:00,45.62,79.92,1.87,8.56,12.17,28.20,13.88,0.41,...,63.231863,67.812647,17.714773,21.672917,7.523333,24.0,25.72,7,68.0,Satisfactory
4576,Railway Colony,2019-02-17 16:00:00,41.00,72.92,1.83,8.72,12.37,26.69,13.77,0.40,...,63.305797,67.886667,17.707276,21.580224,7.510634,24.0,18.93,7,68.0,Satisfactory
4577,Railway Colony,2019-02-17 16:15:00,41.00,79.00,1.69,7.91,11.30,26.83,13.87,0.41,...,63.377619,68.045429,17.701838,21.470588,7.498824,24.0,16.78,7,68.0,Satisfactory
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384745,LGBI Airport,2023-12-23 18:15:00,117.00,198.00,7.10,10.00,11.10,7.70,3.40,0.68,...,309.842657,162.347222,4.663978,17.504032,2.449731,35.5,61.20,7,310.0,Very Poor
384746,LGBI Airport,2023-12-23 18:30:00,117.00,198.00,6.70,10.70,11.10,7.80,3.60,0.71,...,310.270979,162.881944,4.647849,17.490591,2.447849,35.5,61.20,7,310.0,Very Poor
384747,LGBI Airport,2023-12-23 18:45:00,148.00,210.00,6.70,11.60,11.60,8.10,3.50,0.73,...,310.305944,162.847222,4.635753,17.440860,2.440860,36.5,61.20,7,310.0,Very Poor
384749,LGBI Airport,2023-12-23 19:15:00,150.00,212.00,7.50,12.00,12.50,8.70,3.40,0.78,...,310.305944,162.597222,4.610215,17.334677,2.425806,41.0,61.20,7,310.0,Very Poor
384750,LGBI Airport,2023-12-23 19:30:00,150.00,212.00,7.20,11.80,12.10,8.50,3.30,0.73,...,310.305944,162.472222,4.586022,17.283602,2.418548,41.0,61.20,7,310.0,Very Poor

In [109]:
cols1 = df_15m_nan.columns[0:11]
cols2 = df_15m_nan.columns[25:28]
cols1 = cols1.append(cols2)

In [111]:
df_15m_nan = df_15m_nan[cols1]
df_15m_clean = df_15m_clean[cols1]
df_15m_nan.head()

,Station,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),Checks,AQI_calculated,AQI_bucket_calculated
0,Railway Colony,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
1,Railway Colony,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
2,Railway Colony,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
3,Railway Colony,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
4,Railway Colony,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN

In [113]:
df_15m_clean.to_csv("calculated_data\\15m_data_cleaned.csv")
df_15m_nan.to_csv("calculated_data\\15m_data_raw.csv")

In [3]:
df = pd.read_csv('calculated_data/15m_data_cleaned.csv')
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

df.set_index('Timestamp', inplace=True)

grouped = df.groupby('Station')

columns_to_shift = ['AQI_calculated', 'AQI_bucket_calculated']
for column in columns_to_shift:
    df[f'{column}_shifted'] = grouped[column].transform(lambda x: x.shift(-15, freq='D'))
df.reset_index(inplace=True)
df['Timestamp'] = df['Timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S')
cleaned_df = df.dropna()
print(cleaned_df.tail(20))
cleaned_df.columns
cleaned_df.to_csv('cleaned_shifted_data.csv', index=False)

                  Timestamp  Unnamed: 0        Station  PM2.5 (µg/m³)  \
232903  2023-12-06 09:00:00      383076  LGBI Airport           144.0
232904  2023-12-06 09:15:00      383077  LGBI Airport           144.0
232905  2023-12-06 09:30:00      383078  LGBI Airport           144.0
232906  2023-12-06 09:45:00      383079  LGBI Airport           144.0
232907  2023-12-06 10:00:00      383080  LGBI Airport           144.0
232908  2023-12-06 10:15:00      383081  LGBI Airport           144.0
232909  2023-12-06 10:30:00      383082  LGBI Airport           144.0
232910  2023-12-06 11:45:00      383087  LGBI Airport           170.0
232911  2023-12-06 12:00:00      383088  LGBI Airport           170.0
232912  2023-12-06 12:15:00      383089  LGBI Airport           170.0
232913  2023-12-06 12:30:00      383090  LGBI Airport           170.0
232914  2023-12-06 13:45:00      383095  LGBI Airport            89.0
232915  2023-12-06 14:00:00      383096  LGBI Airport            87.0
232916  2023-12-06 14:15:00      383097  LGBI Airport            87.0
232917  2023-12-06 14:30:00      383098  LGBI Airport            87.0
232918  2023-12-06 14:45:00      383099  LGBI Airport            72.0
232919  2023-12-06 15:00:00      383100  LGBI Airport            71.0
232920  2023-12-06 15:15:00      383101  LGBI Airport            71.0
232921  2023-12-06 16:30:00      383106  LGBI Airport            73.0
232922  2023-12-06 17:15:00      383109  LGBI Airport            70.0

        PM10 (µg/m³)  NO (µg/m³)  NO2 (µg/m³)  NOx (ppb)  NH3 (µg/m³)  \
232903         185.0         7.3          6.1        9.2          6.4
232904         185.0         7.2          6.2        9.1          6.4
232905         185.0         6.8          5.9        8.7          6.1
232906         188.0         6.6          5.9        8.6          6.0
232907         188.0         6.6          6.1        8.6          6.0
232908         188.0         6.6          6.0        8.5          6.0
232909         188.0         6.6          5.9        8.5          6.0
232910         205.0         6.5          4.4        7.6          5.3
232911         218.0         6.5          3.9        7.3          5.1
232912         218.0         6.5          3.8        7.3          5.1
232913         218.0         6.4          3.6        7.2          5.0
232914         118.0         6.5          2.9        6.8          4.8
232915         125.0         6.4          2.8        6.7          4.7
232916         125.0         6.4          2.7        6.6          4.6
232917         125.0         6.4          2.8        6.7          4.7
232918         116.0         6.4          3.3        6.9          4.9
232919         114.0         6.4          3.4        7.0          4.9
232920         114.0         6.3          3.5        7.0          4.9
232921         114.0         6.3          5.0        7.8          5.5
232922         230.0         6.3          5.7        8.2          5.7

        SO2 (µg/m³)  CO (mg/m³)  Ozone (µg/m³)  Checks  AQI_calculated  \
232903         40.3        0.95           36.0       7           256.0
232904         27.6        1.02           43.4       7           254.0
232905         26.9        1.02           51.5       7           253.0
232906         36.1        1.04           58.4       7           252.0
232907         44.6        1.08           57.4       7           251.0
232908         44.1        1.09           56.3       7           251.0
232909         43.9        1.12           55.6       7           250.0
232910         30.5        0.88           70.5       7           251.0
232911         35.1        0.82           72.9       7           254.0
232912         27.4        0.82           78.3       7           257.0
232913         21.4        0.85           80.3       7           259.0
232914         42.1        0.70           85.6       7           257.0
232915         39.6        0.68           79.8       7           256.0
232916         48.0        0.64           75.9       7           255.0
232917         31.0        0.64           72.3       7           254.0
232918         44.2        0.63           68.0       7           252.0
232919         41.3        0.68           69.1       7           249.0
232920         42.2        0.73           66.9       7           247.0
232921          0.4        0.76           44.6       7           238.0
232922          0.2        0.79           36.5       7           227.0

       AQI_bucket_calculated  AQI_calculated_shifted  \
232903                  Poor                   206.0
232904                  Poor                   207.0
232905                  Poor                   207.0
232906                  Poor                   208.0
232907                  Poor                   209.0
232908                  Poor                   211.0
232909                  Poor                   212.0
232910                  Poor                   214.0
232911                  Poor                   215.0
232912                  Poor                   215.0
232913                  Poor                   215.0
232914                  Poor                   217.0
232915                  Poor                   218.0
232916                  Poor                   219.0
232917                  Poor                   219.0
232918                  Poor                   219.0
232919                  Poor                   219.0
232920                  Poor                   219.0
232921                  Poor                   220.0
232922                  Poor                   220.0

       AQI_bucket_calculated_shifted
232903                          Poor
232904                          Poor
232905                          Poor
232906                          Poor
232907                          Poor
232908                          Poor
232909                          Poor
232910                          Poor
232911                          Poor
232912                          Poor
232913                          Poor
232914                          Poor
232915                          Poor
232916                          Poor
232917                          Poor
232918                          Poor
232919                          Poor
232920                          Poor
232921                          Poor
232922                          Poor