In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

import glob
import os

In [6]:
csv_files = glob.glob("raw_data_1day\\" + "*.csv")

li = list()

for files in csv_files:
    df = pd.read_csv(files)
    split = files.split('_')
    i = 7
    station_name = ""
    while split[i] != 'Guwahati':
        station_name += split[i]
        i+=1
    df['Station'] = station_name
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)
df.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s),Station
0,2020-01-01 00:00:00,129.15,190.23,44.72,11.26,85.47,14.84,12.32,1.78,17.89,...,16.90,76.03,0.92,138.29,0.02,1.94,193.44,929.01,NaN,5073RailwayColony
1,2020-01-02 00:00:00,59.62,101.89,14.05,12.40,36.34,14.32,12.21,0.67,17.90,...,18.68,70.97,1.07,133.76,0.01,0.89,242.83,896.30,NaN,5073RailwayColony
2,2020-01-03 00:00:00,70.38,101.91,16.60,9.75,37.67,13.72,12.23,0.70,17.86,...,16.09,87.21,0.99,147.38,0.04,3.74,103.09,929.92,NaN,5073RailwayColony
3,2020-01-04 00:00:00,95.40,130.76,22.57,7.66,45.27,15.40,12.02,0.92,17.99,...,16.68,84.10,0.69,151.59,0.07,6.47,203.69,917.84,NaN,5073RailwayColony
4,2020-01-05 00:00:00,96.59,136.95,40.86,9.45,77.20,15.54,12.24,1.27,17.92,...,15.88,85.97,0.82,211.34,0.07,6.79,147.66,930.92,NaN,5073RailwayColony

In [7]:
df.Station.unique()

array(['5073RailwayColony', '5417PanBazaar', '5651IITG',
       '5683LGBIAirport'], dtype=object)

In [8]:
df.isnull().sum()

Timestamp                 0
PM2.5 (µg/m³)           391
PM10 (µg/m³)            378
NO (µg/m³)              329
NO2 (µg/m³)             330
NOx (ppb)               318
NH3 (µg/m³)             491
SO2 (µg/m³)             328
CO (mg/m³)              322
Ozone (µg/m³)           349
Benzene (µg/m³)         354
Toluene (µg/m³)        3453
Xylene (µg/m³)         3651
O Xylene (µg/m³)       3651
Eth-Benzene (µg/m³)    1555
MP-Xylene (µg/m³)      1266
AT (°C)                1991
RH (%)                 1637
WS (m/s)                722
WD (deg)                721
RF (mm)                1370
TOT-RF (mm)               0
SR (W/mt2)              779
BP (mmHg)              2003
VWS (m/s)              3651
Station                   0
dtype: int64

In [9]:
drop_c = df.columns[df.isnull().sum() > 500]

In [10]:
df.drop(drop_c, axis = 1, inplace = True)

In [11]:
df.dropna(axis = 0,inplace = True)

In [12]:
df

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),Benzene (µg/m³),TOT-RF (mm),Station
0,2020-01-01 00:00:00,129.150000,190.230000,44.720000,11.260000,85.470000,14.840000,12.320000,1.780000,17.890000,1.430000,1.94,5073RailwayColony
1,2020-01-02 00:00:00,59.620000,101.890000,14.050000,12.400000,36.340000,14.320000,12.210000,0.670000,17.900000,0.500000,0.89,5073RailwayColony
2,2020-01-03 00:00:00,70.380000,101.910000,16.600000,9.750000,37.670000,13.720000,12.230000,0.700000,17.860000,0.540000,3.74,5073RailwayColony
3,2020-01-04 00:00:00,95.400000,130.760000,22.570000,7.660000,45.270000,15.400000,12.020000,0.920000,17.990000,0.560000,6.47,5073RailwayColony
4,2020-01-05 00:00:00,96.590000,136.950000,40.860000,9.450000,77.200000,15.540000,12.240000,1.270000,17.920000,0.750000,6.79,5073RailwayColony
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3639,2023-12-20,82.843750,146.114583,9.100347,6.802778,11.018056,7.712153,3.990278,0.738229,37.096354,0.258333,0.00,5683LGBIAirport
3640,2023-12-21,97.718750,136.864583,10.516667,7.531944,12.560764,8.789236,3.519792,0.861979,36.590000,0.305208,0.00,5683LGBIAirport
3641,2023-12-22,113.031250,166.854167,11.454514,7.296181,13.193056,9.233333,4.659722,0.883437,36.303646,0.372917,0.00,5683LGBIAirport
3642,2023-12-23,127.190476,180.375000,10.134722,7.682639,12.333333,8.630903,3.454167,0.649653,28.362500,0.427083,0.00,5683LGBIAirport
3643,2023-12-24,112.678571,149.964286,12.551190,7.147619,14.004762,9.801190,32.136905,0.904405,6.300000,0.435714,0.00,5683LGBIAirport

In [13]:
df = df.reset_index()
df.drop('index', axis= 1,inplace=True)

In [14]:
df.to_csv("clean_data\\1day_data.csv")