In [22]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

import glob
import os

In [23]:
def read_files(path : str):
    csv_files = glob.glob(path + "\\*.csv")

    li = list()

    for files in csv_files:
        df = pd.read_csv(files)
        split = files.split('_')
        i = 8
        station_name = ""
        while split[i] != 'Guwahati':
            station_name += split[i] + " "
            i+=1
        df['Station'] = station_name
        li.append(df)

    df = pd.concat(li, axis=0, ignore_index=True)
    return df

In [24]:
df_1d = read_files("raw_data_1day")
df_15m = read_files("raw_data_15min")

In [25]:
cols = df_1d.columns[0:10]
cols

Index(['Timestamp', 'PM2.5 (µg/m³)', 'PM10 (µg/m³)', 'NO (µg/m³)',
       'NO2 (µg/m³)', 'NOx (ppb)', 'NH3 (µg/m³)', 'SO2 (µg/m³)', 'CO (mg/m³)',
       'Ozone (µg/m³)'],
      dtype='object')

In [26]:
def selectaqifeatures(df : pd.DataFrame):
    df = df[cols]
    df = df.reset_index()
    df.drop('index', axis= 1,inplace=True)
    return df

In [27]:
print(df_1d.shape)
print(df_15m.shape)

(3651, 26)
(385536, 26)

In [28]:
df_1d.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s),Station
0,2020-01-01 00:00:00,129.15,190.23,44.72,11.26,85.47,14.84,12.32,1.78,17.89,...,16.90,76.03,0.92,138.29,0.02,1.94,193.44,929.01,NaN,Railway Colony
1,2020-01-02 00:00:00,59.62,101.89,14.05,12.40,36.34,14.32,12.21,0.67,17.90,...,18.68,70.97,1.07,133.76,0.01,0.89,242.83,896.30,NaN,Railway Colony
2,2020-01-03 00:00:00,70.38,101.91,16.60,9.75,37.67,13.72,12.23,0.70,17.86,...,16.09,87.21,0.99,147.38,0.04,3.74,103.09,929.92,NaN,Railway Colony
3,2020-01-04 00:00:00,95.40,130.76,22.57,7.66,45.27,15.40,12.02,0.92,17.99,...,16.68,84.10,0.69,151.59,0.07,6.47,203.69,917.84,NaN,Railway Colony
4,2020-01-05 00:00:00,96.59,136.95,40.86,9.45,77.20,15.54,12.24,1.27,17.92,...,15.88,85.97,0.82,211.34,0.07,6.79,147.66,930.92,NaN,Railway Colony

In [29]:
df_15m.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s),Station
0,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony
1,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony
2,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony
3,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony
4,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Railway Colony

In [30]:
df_1d.isnull().sum()

Timestamp                 0
PM2.5 (µg/m³)           391
PM10 (µg/m³)            378
NO (µg/m³)              329
NO2 (µg/m³)             330
NOx (ppb)               318
NH3 (µg/m³)             491
SO2 (µg/m³)             328
CO (mg/m³)              322
Ozone (µg/m³)           349
Benzene (µg/m³)         354
Toluene (µg/m³)        3453
Xylene (µg/m³)         3651
O Xylene (µg/m³)       3651
Eth-Benzene (µg/m³)    1555
MP-Xylene (µg/m³)      1266
AT (°C)                1991
RH (%)                 1637
WS (m/s)                722
WD (deg)                721
RF (mm)                1370
TOT-RF (mm)               0
SR (W/mt2)              779
BP (mmHg)              2003
VWS (m/s)              3651
Station                   0
dtype: int64

In [31]:
df_15m.isnull().sum()

Timestamp                   0
PM2.5 (µg/m³)           73811
PM10 (µg/m³)            73859
NO (µg/m³)              59102
NO2 (µg/m³)             67732
NOx (ppb)               50559
NH3 (µg/m³)             70173
SO2 (µg/m³)             54821
CO (mg/m³)              51547
Ozone (µg/m³)           65494
Benzene (µg/m³)         56754
Toluene (µg/m³)        367268
Xylene (µg/m³)         385536
O Xylene (µg/m³)       385536
Eth-Benzene (µg/m³)    193639
MP-Xylene (µg/m³)      176295
AT (°C)                203536
RH (%)                 174924
WS (m/s)                89193
WD (deg)                89183
RF (mm)                141827
TOT-RF (mm)                 0
SR (W/mt2)             179786
BP (mmHg)              256094
VWS (m/s)              385536
Station                     0
dtype: int64

In [32]:
df_1d = selectaqifeatures(df_1d)
df_15m = selectaqifeatures(df_15m)

In [33]:
df_1d.shape

(3651, 10)

In [34]:
df_15m.shape

(385536, 10)

In [35]:
df_15m.to_csv("clean_data\\15m_data.csv")
df_1d.to_csv("clean_data\\1day_data.csv")

In [36]:
df_15m.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³)
0,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# calculate 24hr avg over 15min intervals, out of which data of 16 one-hr intervals must be present
df_15m["PM2.5_24hr_avg"] = df_15m["PM2.5 (µg/m³)"].rolling(window = 24*4, min_periods = 16*4).mean().values
df_15m["PM10_24hr_avg"] = df_15m["PM10 (µg/m³)"].rolling(window = 24*4, min_periods = 16*4).mean().values
df_15m["NOx_24hr_avg"] = df_15m["NOx (ppb)"].rolling(window = 24*4, min_periods = 16*4).mean().values
df_15m["NH3_24hr_avg"] = df_15m["NH3 (µg/m³)"].rolling(window = 24*4, min_periods = 16*4).mean().values
df_15m["SO2_24hr_avg"] = df_15m["SO2 (µg/m³)"].rolling(window = 24*4, min_periods = 16*4).mean().values

df_15m["CO_8hr_max"] = df_15m["CO (mg/m³)"].rolling(window = 8*4, min_periods = 1*4).max().values
df_15m["O3_8hr_max"] = df_15m["Ozone (µg/m³)"].rolling(window = 8*4, min_periods = 1*4).max().values

df_15m

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),PM2.5_24hr_avg,PM10_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,SO2_24hr_avg
0,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385531,2023-12-31 22:45:00,116.0,138.0,0.2,23.9,12.8,9.0,6.5,NaN,7.9,91.054945,140.175824,21.459783,15.021739,NaN,68.1,6.632609
385532,2023-12-31 23:00:00,113.0,138.0,0.4,23.0,12.6,8.8,6.6,NaN,9.0,90.901099,139.725275,21.227174,14.858696,NaN,68.1,6.676087
385533,2023-12-31 23:15:00,113.0,138.0,0.5,22.8,12.5,8.8,6.3,NaN,6.4,90.747253,139.274725,21.106522,14.775000,NaN,68.1,6.716304
385534,2023-12-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.344444,138.833333,21.127473,14.790110,NaN,68.1,6.752747
385535,2023-12-31 23:45:00,109.0,151.0,1.6,26.1,15.2,10.6,7.0,NaN,2.8,90.511111,139.033333,21.083516,14.759341,NaN,67.8,6.786813

In [63]:
# calculate 24hr avg over 1hr intervals, out of which data of 16 one-hr intervals must be present
df_1d["PM2.5_24hr_avg"] = df_1d["PM2.5 (µg/m³)"].rolling(window = 24, min_periods = 16).mean().values
df_1d["PM10_24hr_avg"] = df_1d["PM10 (µg/m³)"].rolling(window = 24, min_periods = 16).mean().values
df_1d["NOx_24hr_avg"] = df_1d["NOx (ppb)"].rolling(window = 24, min_periods = 16).mean().values
df_1d["NH3_24hr_avg"] = df_1d["NH3 (µg/m³)"].rolling(window = 24, min_periods = 16).mean().values
df_1d["SO2_24hr_avg"] = df_1d["SO2 (µg/m³)"].rolling(window = 24, min_periods = 16).mean().values

df_1d["CO_8hr_max"] = df_1d["CO (mg/m³)"].rolling(window = 8, min_periods = 1).max().values
df_1d["O3_8hr_max"] = df_1d["Ozone (µg/m³)"].rolling(window = 8, min_periods = 1).max().values

df_1d

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),PM2.5_24hr_avg,PM10_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,SO2_24hr_avg
0,2020-01-01 00:00:00,129.150000,190.230000,44.720000,11.260000,85.470000,14.840000,12.320000,1.78,17.890000,NaN,NaN,NaN,NaN,1.780000,17.890000,NaN
1,2020-01-02 00:00:00,59.620000,101.890000,14.050000,12.400000,36.340000,14.320000,12.210000,0.67,17.900000,NaN,NaN,NaN,NaN,1.780000,17.900000,NaN
2,2020-01-03 00:00:00,70.380000,101.910000,16.600000,9.750000,37.670000,13.720000,12.230000,0.70,17.860000,NaN,NaN,NaN,NaN,1.780000,17.900000,NaN
3,2020-01-04 00:00:00,95.400000,130.760000,22.570000,7.660000,45.270000,15.400000,12.020000,0.92,17.990000,NaN,NaN,NaN,NaN,1.780000,17.990000,NaN
4,2020-01-05 00:00:00,96.590000,136.950000,40.860000,9.450000,77.200000,15.540000,12.240000,1.27,17.920000,NaN,NaN,NaN,NaN,1.780000,17.990000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3646,2023-12-27,94.083333,153.375000,17.308681,23.642361,26.619097,18.634028,18.585000,NaN,30.858333,92.060378,136.486320,12.222927,8.557078,0.904405,37.096354,9.359217
3647,2023-12-28,87.062500,133.302083,11.157639,25.867708,22.821181,15.970833,4.823611,NaN,34.767187,92.643277,137.240226,12.781774,8.947960,0.904405,36.590000,9.398103
3648,2023-12-29,80.302083,129.072917,14.726894,25.148611,24.323264,17.025000,8.114931,NaN,34.777083,91.525222,135.937709,13.406231,9.384796,0.904405,36.303646,9.241338
3649,2023-12-30,99.968750,155.947917,17.780682,26.301389,27.218750,19.054167,3.622917,NaN,43.218750,91.575135,136.167309,14.168700,9.918582,0.904405,43.218750,8.036129
3650,2023-12-31,90.850694,139.003472,11.734783,22.477431,21.075694,14.753819,6.799653,NaN,34.023611,91.974730,137.660944,14.702200,10.291861,0.904405,43.218750,8.255811

In [64]:
print(df_1d.shape)
print(df_15m.shape) # 10+7 cols

(3651, 17)
(385536, 17)

In [65]:
df_1d_clean = df_1d.dropna(inplace=False)
df_15m_clean = df_15m.dropna(inplace=False)
print(df_1d_clean.shape)
print(df_15m_clean.shape)

(2910, 17)
(233142, 17)

In [66]:
df_1d_clean.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),PM2.5_24hr_avg,PM10_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,SO2_24hr_avg
15,2020-01-16 00:00:00,161.36,228.34,68.17,11.18,123.86,26.98,13.42,2.04,18.11,146.850625,214.769375,99.358750,17.498750,3.71,18.43,12.651250
16,2020-01-17 00:00:00,127.17,205.94,72.99,14.17,135.01,21.12,13.77,1.38,18.21,145.692941,214.250000,101.455882,17.711765,3.71,18.43,12.717059
17,2020-01-18 00:00:00,149.46,240.52,77.16,16.08,143.92,20.35,14.16,1.50,19.73,145.902222,215.709444,103.815000,17.858333,3.71,19.73,12.797222
18,2020-01-19 00:00:00,117.51,187.47,69.65,13.41,128.71,22.11,13.75,1.30,18.24,144.407895,214.223158,105.125263,18.082105,3.71,19.73,12.847368
19,2020-01-20 00:00:00,77.97,119.61,6.46,8.79,20.01,17.46,12.47,0.58,21.06,141.086000,209.492500,100.869500,18.051000,3.71,21.06,12.828500

In [67]:
df_15m_clean.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),PM2.5_24hr_avg,PM10_24hr_avg,NOx_24hr_avg,NH3_24hr_avg,CO_8hr_max,O3_8hr_max,SO2_24hr_avg
4573,2019-02-17 15:15:00,46.00,80.00,1.29,9.16,12.02,27.19,13.56,0.40,15.80,37.700606,67.444545,17.495000,30.119844,0.60,25.72,14.183594
4574,2019-02-17 15:30:00,46.00,80.00,1.74,8.93,12.48,30.29,13.71,0.41,15.52,37.824478,67.631940,17.417846,30.122462,0.50,25.72,14.176308
4575,2019-02-17 15:45:00,45.62,79.92,1.87,8.56,12.17,28.20,13.88,0.41,15.33,37.939118,67.812647,17.338333,30.093333,0.48,25.72,14.171818
4576,2019-02-17 16:00:00,41.00,72.92,1.83,8.72,12.37,26.69,13.77,0.40,15.30,37.983478,67.886667,17.264179,30.042537,0.48,18.93,14.165821
4577,2019-02-17 16:15:00,41.00,79.00,1.69,7.91,11.30,26.83,13.87,0.41,15.49,38.026571,68.045429,17.176471,29.995294,0.48,16.78,14.161471

In [68]:
import warnings
warnings.filterwarnings('ignore')

In [69]:
## PM2.5 Sub-Index calculation
def get_PM25_subindex(x):
    if x <= 30:
        return x * 50 / 30
    elif x <= 60:
        return 50 + (x - 30) * 50 / 30
    elif x <= 90:
        return 100 + (x - 60) * 100 / 30
    elif x <= 120:
        return 200 + (x - 90) * 100 / 30
    elif x <= 250:
        return 300 + (x - 120) * 100 / 130
    elif x > 250:
        return 400 + (x - 250) * 100 / 130
    else:
        return 0

df_1d_clean["PM2.5_SubIndex"] = df_1d_clean["PM2.5_24hr_avg"].apply(lambda x: get_PM25_subindex(x))
df_15m_clean["PM2.5_SubIndex"] = df_15m_clean["PM2.5_24hr_avg"].apply(lambda x: get_PM25_subindex(x))

In [70]:
## PM10 Sub-Index calculation
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

df_1d_clean["PM10_SubIndex"] = df_1d_clean["PM10_24hr_avg"].apply(lambda x: get_PM10_subindex(x))
df_15m_clean["PM10_SubIndex"] = df_15m_clean["PM10_24hr_avg"].apply(lambda x: get_PM10_subindex(x))

In [71]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

df_1d_clean["SO2_SubIndex"] = df_1d_clean["SO2_24hr_avg"].apply(lambda x: get_SO2_subindex(x))
df_15m_clean["SO2_SubIndex"] = df_15m_clean["SO2_24hr_avg"].apply(lambda x: get_SO2_subindex(x))

In [72]:
## NOx Sub-Index calculation
def get_NOx_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 180:
        return 100 + (x - 80) * 100 / 100
    elif x <= 280:
        return 200 + (x - 180) * 100 / 100
    elif x <= 400:
        return 300 + (x - 280) * 100 / 120
    elif x > 400:
        return 400 + (x - 400) * 100 / 120
    else:
        return 0

df_1d_clean["NOx_SubIndex"] = df_1d_clean["NOx_24hr_avg"].apply(lambda x: get_NOx_subindex(x))
df_15m_clean["NOx_SubIndex"] = df_15m_clean["NOx_24hr_avg"].apply(lambda x: get_NOx_subindex(x))

In [73]:
## NH3 Sub-Index calculation
def get_NH3_subindex(x):
    if x <= 200:
        return x * 50 / 200
    elif x <= 400:
        return 50 + (x - 200) * 50 / 200
    elif x <= 800:
        return 100 + (x - 400) * 100 / 400
    elif x <= 1200:
        return 200 + (x - 800) * 100 / 400
    elif x <= 1800:
        return 300 + (x - 1200) * 100 / 600
    elif x > 1800:
        return 400 + (x - 1800) * 100 / 600
    else:
        return 0

df_1d_clean["NH3_SubIndex"] = df_1d_clean["NH3_24hr_avg"].apply(lambda x: get_NH3_subindex(x))
df_15m_clean["NH3_SubIndex"] = df_15m_clean["NH3_24hr_avg"].apply(lambda x: get_NH3_subindex(x))

In [74]:
## CO Sub-Index calculation
def get_CO_subindex(x):
    if x <= 1:
        return x * 50 / 1
    elif x <= 2:
        return 50 + (x - 1) * 50 / 1
    elif x <= 10:
        return 100 + (x - 2) * 100 / 8
    elif x <= 17:
        return 200 + (x - 10) * 100 / 7
    elif x <= 34:
        return 300 + (x - 17) * 100 / 17
    elif x > 34:
        return 400 + (x - 34) * 100 / 17
    else:
        return 0

df_1d_clean["CO_SubIndex"] = df_1d_clean["CO_8hr_max"].apply(lambda x: get_CO_subindex(x))
df_15m_clean["CO_SubIndex"] = df_15m_clean["CO_8hr_max"].apply(lambda x: get_CO_subindex(x))

In [75]:
## O3 Sub-Index calculation
def get_O3_subindex(x):
    if x <= 50:
        return x * 50 / 50
    elif x <= 100:
        return 50 + (x - 50) * 50 / 50
    elif x <= 168:
        return 100 + (x - 100) * 100 / 68
    elif x <= 208:
        return 200 + (x - 168) * 100 / 40
    elif x <= 748:
        return 300 + (x - 208) * 100 / 539
    elif x > 748:
        return 400 + (x - 400) * 100 / 539
    else:
        return 0

df_1d_clean["O3_SubIndex"] = df_1d_clean["O3_8hr_max"].apply(lambda x: get_O3_subindex(x))
df_15m_clean["O3_SubIndex"] = df_15m_clean["O3_8hr_max"].apply(lambda x: get_O3_subindex(x))

In [76]:
df_1d_clean.head() # 17+7 cols

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,CO_8hr_max,O3_8hr_max,SO2_24hr_avg,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex
15,2020-01-16 00:00:00,161.36,228.34,68.17,11.18,123.86,26.98,13.42,2.04,18.11,...,3.71,18.43,12.651250,320.654327,176.512917,15.814063,119.358750,4.374688,121.375,18.43
16,2020-01-17 00:00:00,127.17,205.94,72.99,14.17,135.01,21.12,13.77,1.38,18.21,...,3.71,18.43,12.717059,319.763801,176.166667,15.896324,121.455882,4.427941,121.375,18.43
17,2020-01-18 00:00:00,149.46,240.52,77.16,16.08,143.92,20.35,14.16,1.50,19.73,...,3.71,19.73,12.797222,319.924786,177.139630,15.996528,123.815000,4.464583,121.375,19.73
18,2020-01-19 00:00:00,117.51,187.47,69.65,13.41,128.71,22.11,13.75,1.30,18.24,...,3.71,19.73,12.847368,318.775304,176.148772,16.059211,125.125263,4.520526,121.375,19.73
19,2020-01-20 00:00:00,77.97,119.61,6.46,8.79,20.01,17.46,12.47,0.58,21.06,...,3.71,21.06,12.828500,316.220000,172.995000,16.035625,120.869500,4.512750,121.375,21.06

In [77]:
df_15m_clean.head() # 17+7 cols

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,CO_8hr_max,O3_8hr_max,SO2_24hr_avg,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex
4573,2019-02-17 15:15:00,46.00,80.00,1.29,9.16,12.02,27.19,13.56,0.40,15.80,...,0.60,25.72,14.183594,62.834343,67.444545,17.729492,21.868750,7.529961,30.0,25.72
4574,2019-02-17 15:30:00,46.00,80.00,1.74,8.93,12.48,30.29,13.71,0.41,15.52,...,0.50,25.72,14.176308,63.040796,67.631940,17.720385,21.772308,7.530615,25.0,25.72
4575,2019-02-17 15:45:00,45.62,79.92,1.87,8.56,12.17,28.20,13.88,0.41,15.33,...,0.48,25.72,14.171818,63.231863,67.812647,17.714773,21.672917,7.523333,24.0,25.72
4576,2019-02-17 16:00:00,41.00,72.92,1.83,8.72,12.37,26.69,13.77,0.40,15.30,...,0.48,18.93,14.165821,63.305797,67.886667,17.707276,21.580224,7.510634,24.0,18.93
4577,2019-02-17 16:15:00,41.00,79.00,1.69,7.91,11.30,26.83,13.87,0.41,15.49,...,0.48,16.78,14.161471,63.377619,68.045429,17.701838,21.470588,7.498824,24.0,16.78

In [81]:
# AQI bucketing function
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN
    
df_1d_clean["Checks"] = (df_1d_clean["PM2.5_SubIndex"] > 0).astype(int) + \
                (df_1d_clean["PM10_SubIndex"] > 0).astype(int) + \
                (df_1d_clean["SO2_SubIndex"] > 0).astype(int) + \
                (df_1d_clean["NOx_SubIndex"] > 0).astype(int) + \
                (df_1d_clean["NH3_SubIndex"] > 0).astype(int) + \
                (df_1d_clean["CO_SubIndex"] > 0).astype(int) + \
                (df_1d_clean["O3_SubIndex"] > 0).astype(int)

df_1d_clean["AQI_calculated"] = round(df_1d_clean[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex",
                                 "NH3_SubIndex", "CO_SubIndex", "O3_SubIndex"]].max(axis = 1))
df_1d_clean.loc[df_1d_clean["PM2.5_SubIndex"] + df_1d_clean["PM10_SubIndex"] <= 0, "AQI_calculated"] = np.NaN
df_1d_clean.loc[df_1d_clean.Checks < 3, "AQI_calculated"] = np.NaN

df_1d_clean["AQI_bucket_calculated"] = df_1d_clean["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df_1d_clean.head(15) # 24+3 cols

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
15,2020-01-16 00:00:00,161.36,228.34,68.17,11.18,123.86,26.98,13.42,2.04,18.11,...,320.654327,176.512917,15.814063,119.358750,4.374688,121.375,18.43,7,321.0,Very Poor
16,2020-01-17 00:00:00,127.17,205.94,72.99,14.17,135.01,21.12,13.77,1.38,18.21,...,319.763801,176.166667,15.896324,121.455882,4.427941,121.375,18.43,7,320.0,Very Poor
17,2020-01-18 00:00:00,149.46,240.52,77.16,16.08,143.92,20.35,14.16,1.50,19.73,...,319.924786,177.139630,15.996528,123.815000,4.464583,121.375,19.73,7,320.0,Very Poor
18,2020-01-19 00:00:00,117.51,187.47,69.65,13.41,128.71,22.11,13.75,1.30,18.24,...,318.775304,176.148772,16.059211,125.125263,4.520526,121.375,19.73,7,319.0,Very Poor
19,2020-01-20 00:00:00,77.97,119.61,6.46,8.79,20.01,17.46,12.47,0.58,21.06,...,316.220000,172.995000,16.035625,120.869500,4.512750,121.375,21.06,7,316.0,Very Poor
20,2020-01-21 00:00:00,125.77,190.71,18.52,12.72,44.04,16.08,12.66,0.97,21.12,...,315.658974,172.398730,16.025595,118.163333,4.489286,121.375,21.12,7,316.0,Very Poor
21,2020-01-22 00:00:00,133.65,212.39,51.50,15.65,101.30,17.02,13.36,1.37,20.48,...,315.424476,172.513636,16.056250,118.305909,4.478636,121.375,21.12,7,315.0,Very Poor
22,2020-01-23 00:00:00,133.41,210.61,50.34,18.12,102.06,16.79,13.07,1.30,18.19,...,315.202341,172.566957,16.068478,118.469130,4.466413,100.500,21.12,7,315.0,Very Poor
23,2020-01-24 00:00:00,183.93,268.80,46.06,17.62,94.51,16.16,13.87,1.78,19.03,...,316.617949,174.232222,16.121354,118.304167,4.448646,89.000,21.12,7,317.0,Very Poor
24,2020-01-25 00:00:00,169.56,278.45,68.91,16.66,130.99,15.63,13.21,1.75,17.92,...,317.913141,176.682778,16.167708,120.200833,4.456875,89.000,21.12,7,318.0,Very Poor
25,2020-01-26 00:00:00,156.12,236.74,59.33,12.76,111.08,16.10,13.13,1.68,18.14,...,321.006090,180.428611,16.215625,123.315000,4.475417,89.000,21.12,7,321.0,Very Poor
26,2020-01-27 00:00:00,140.32,241.20,78.13,17.90,147.44,16.62,13.85,1.57,20.72,...,323.247756,184.297778,16.300000,127.888750,4.505625,89.000,21.12,7,323.0,Very Poor
28,2020-01-29 00:00:00,108.29,344.50,80.08,21.92,154.96,20.15,13.97,1.94,20.11,...,325.472575,195.165556,16.476042,135.397500,4.584271,97.000,20.72,7,325.0,Very Poor
29,2020-01-30 00:00:00,146.90,234.29,51.88,15.98,102.31,21.60,13.65,1.58,18.99,...,327.197659,197.185278,16.574479,138.052917,4.662917,97.000,20.72,7,327.0,Very Poor
30,2020-01-31 00:00:00,77.58,111.31,10.94,8.84,27.41,17.78,12.85,0.64,18.76,...,324.542475,192.769722,16.588021,134.707083,4.677292,97.000,20.72,7,325.0,Very Poor

In [82]:
df_15m_clean["Checks"] = (df_15m_clean["PM2.5_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["PM10_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["SO2_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["NOx_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["NH3_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["CO_SubIndex"] > 0).astype(int) + \
                (df_15m_clean["O3_SubIndex"] > 0).astype(int)

df_15m_clean["AQI_calculated"] = round(df_15m_clean[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex",
                                 "NH3_SubIndex", "CO_SubIndex", "O3_SubIndex"]].max(axis = 1))
df_15m_clean.loc[df_15m_clean["PM2.5_SubIndex"] + df_15m_clean["PM10_SubIndex"] <= 0, "AQI_calculated"] = np.NaN
df_15m_clean.loc[df_15m_clean.Checks < 3, "AQI_calculated"] = np.NaN

df_15m_clean["AQI_bucket_calculated"] = df_15m_clean["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df_15m_clean.head(15) # 24+3 cols

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
4573,2019-02-17 15:15:00,46.00,80.00,1.29,9.16,12.02,27.19,13.56,0.40,15.80,...,62.834343,67.444545,17.729492,21.868750,7.529961,30.0,25.72,7,67.0,Satisfactory
4574,2019-02-17 15:30:00,46.00,80.00,1.74,8.93,12.48,30.29,13.71,0.41,15.52,...,63.040796,67.631940,17.720385,21.772308,7.530615,25.0,25.72,7,68.0,Satisfactory
4575,2019-02-17 15:45:00,45.62,79.92,1.87,8.56,12.17,28.20,13.88,0.41,15.33,...,63.231863,67.812647,17.714773,21.672917,7.523333,24.0,25.72,7,68.0,Satisfactory
4576,2019-02-17 16:00:00,41.00,72.92,1.83,8.72,12.37,26.69,13.77,0.40,15.30,...,63.305797,67.886667,17.707276,21.580224,7.510634,24.0,18.93,7,68.0,Satisfactory
4577,2019-02-17 16:15:00,41.00,79.00,1.69,7.91,11.30,26.83,13.87,0.41,15.49,...,63.377619,68.045429,17.701838,21.470588,7.498824,24.0,16.78,7,68.0,Satisfactory
4578,2019-02-17 16:30:00,41.00,79.00,1.72,8.58,12.08,26.17,13.71,0.42,15.13,...,63.447418,68.199718,17.693659,21.378261,7.484964,24.0,16.27,7,68.0,Satisfactory
4579,2019-02-17 16:45:00,43.33,96.17,1.90,8.94,12.71,25.53,13.58,0.45,14.98,...,63.569213,68.588194,17.683393,21.299821,7.469214,23.0,16.27,7,69.0,Satisfactory
4580,2019-02-17 17:00:00,69.00,261.25,2.02,11.25,15.44,25.06,13.58,0.48,14.39,...,64.273744,71.227397,17.673415,21.271655,7.452254,24.0,16.27,7,71.0,Satisfactory
4581,2019-02-17 17:15:00,69.00,285.00,1.86,14.40,18.44,27.41,13.66,0.51,13.86,...,64.959234,74.116216,17.665104,21.296354,7.443924,25.5,16.27,7,74.0,Satisfactory
4582,2019-02-17 17:30:00,69.00,285.00,1.84,14.47,18.54,26.02,13.48,0.52,14.08,...,65.626444,76.928000,17.653938,21.322089,7.431062,26.0,16.27,7,77.0,Satisfactory
4583,2019-02-17 17:45:00,72.92,306.17,1.86,14.36,18.57,24.73,13.47,0.54,14.23,...,66.362061,79.944342,17.642905,21.347635,7.414189,27.0,16.27,7,80.0,Satisfactory
4584,2019-02-17 18:00:00,116.00,494.08,2.56,14.50,19.89,25.69,13.59,0.57,15.70,...,68.011039,85.322727,17.634167,21.394500,7.400967,28.5,16.27,7,85.0,Satisfactory
4585,2019-02-17 18:15:00,116.00,539.00,1.70,14.58,18.54,26.95,13.51,0.57,15.54,...,69.617735,91.139103,17.624342,21.417928,7.392237,28.5,16.27,7,91.0,Satisfactory
4586,2019-02-17 18:30:00,116.00,539.00,2.19,13.69,18.20,27.07,13.52,0.59,16.01,...,71.183755,96.808228,17.614935,21.435227,7.384123,29.5,16.27,7,97.0,Satisfactory
4587,2019-02-17 18:45:00,115.00,514.00,2.14,12.39,16.72,27.62,13.62,0.59,15.18,...,72.689792,101.348750,17.607372,21.428365,7.377981,29.5,16.27,7,101.0,Moderate

In [83]:
df_1d_clean[~df_1d_clean.AQI_calculated.isna()].AQI_bucket_calculated.value_counts()

Satisfactory    959
Moderate        712
Poor            477
Good            474
Very Poor       288
Name: AQI_bucket_calculated, dtype: int64

In [84]:
df_15m_clean[~df_15m_clean.AQI_calculated.isna()].AQI_bucket_calculated.value_counts()

Satisfactory    70468
Moderate        58189
Good            45463
Very Poor       31552
Poor            26551
Severe            919
Name: AQI_bucket_calculated, dtype: int64

In [86]:
df_15m_clean.to_csv("calculated_data\\15m_data.csv")
df_1d_clean.to_csv("calculated_data\\1day_data.csv")